* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "dana";
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f2f6fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
